{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>ອອກໃບສັ່ງຊື້ປື້ມ</title>
  <style type="text/css">
    body {
      background: #fafafa;
      color: #333333;
      margin-top: 5rem;
      font-family: Phetsarath OT, Saysettha OT;
    }

    h3,
    h4 {
      color: #444444;
      text-align: center;
    }
  </style>
</head>

<body onload="window.print()">
  <h3>ສາທາລະນະລັດ ປະຊາທິປະໄຕ ປະຊາຊົນລາວ <br>
    ສັນຕິພາບ ເອກະລາດ ປະຊາທິປະໄຕ ເອກະພາບ ວັດທະນະຖາວອນ</h3><br><br>
  <img src="{% static 'blog/comma_cafe_logo.png' %}" class="img-thumbnail" width="100px" height="100px">
</br>
</br>
<p>ບ້ານໂພນສີເມືອງ </br>
Commacoffee@163.com </br>
+856 205819956
</p>
  <br><br>
  <h4>ອອກໃບຮັບເອົາປື້ມ</h4><br>
  <table class="table table-striped table-light table-bordered">
    <thead>
      <tr>
        <th>ລະຫັດການຄືນປື້ມ</th>
        <th>ລະຫັດການຢືມປື້ມ</th>
        <th>ລະຫັດລາຍລະອຽດປື້ມ</th>
        <th>ລາຍການປື້ມ</th>
        <th>ພະນັກງານ</th>
        <th>ວັນເດືອນປີທີ່ໄດ້ຮັບປື້ມ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ book_return.id }}</td>
        <td>{{ book_return.borrow }}</td>
        <td>{{ book_return.borrow.book }}</td>
        <td>{{ book_return.borrow.book.books.all }}</td>
        <td>{{ book_return.employee }}</td>
        <td>{{ book_return.return_book|date:"d-m-Y" }}</td>
      </tr>
    </tbody>
  </table>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>