{%  load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Borrow Over Date</title>
  {% include "includes/bootstrap_css.html" %}


  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

</head>

<body>
  {% include "includes/navbar.html" %}



  <div class="container">
    <h4 class="text-center">ຂໍ້ມູນການຢືມປື້ມເກີນກໍານົດ</h4>


    <nav class="navbar navbar-expand-sm bg-light">

      <a class="btn btn-outline-primary btn-sm mt-1 mb-1" title="ສ້າງໃບບິນທວງປື້ມ" href="{% url 'date-return-out' %}">
       
        <i class="fas fa-user-plus"></i>
      </a>

     <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          
<a class="btn btn-outline-info btn-sm mt-1 mb-1" title="ສ້າງເອກະສານເປັນຟຣາຍ PDF"
            href="{% url 'book-over-borrow-pdf' %}">
  <i class="fas fa-file-pdf" style="font-size: 25px;"></i>
</a>
        </li>
      </ul>
    
    </nav>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>ລະຫັດການຢືມປື້ມ</th>
          <th>ລະຫັດຈຳນວນປື້ມ</th>
          <th>ສະຖານະ</th>
          <th>ຊື່ສະມາຊິກ</th>
          <th>ວັນເດືອນປີຢືມປື້ມ</th>
          <th>ວັນເດືອນປີຄືນປື້ມ</th>
          <th>ທາງເລືອກ</th>
        </tr>
      </thead>

      <tbody>
        {% for c in borrow %}
        <tr>
          <td>{{ c.id }}</td>
          <td>{{ c.book }}</td>
          <td>{{ c.status }}</td>
          <td>{{ c.point.member.firstname }} {{ c.point.member.surname }}</td>
          <td>{{ c.date_rent|date:"d-m-Y" }}</td>
          <td>{{ c.date_return|date:"d-m-Y" }}</td>
<td>
<a class="btn btn-outline-primary btn-sm mt-1 mb-1" title="ສ້າງໃບບິນທວງປື້ມ" href="{% url 'book-over-borrow-bill' c.id %}">
     <i class="fas fa-file-pdf" style="font-size: 25px;"></i>
</a>

</td>
      </tr>
       {% endfor %}
    </tbody>
    </table>

  </div>


  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function () {
      $('#example').DataTable();
    });
  </script>


</body>

</html>