{% extends "blog/base.html" %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-8 offset-md-2">


      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <h4 class="article-title ">ການຕັດຄະແນນສຳເລັດແລ້ວ! ຄິກຕໍ່ໄປເພື່ອດຳເນີນການຢືມປື້ມ.</h4>

          </div>
          <div class="article-metadata">
            <h3>ລະຫັດຄະແນນ: {{ point.id }}</h3>
            <h3>ຄະແນນ: {{ point.amount }}</h3>
            <h3>ຊື່ສະມາຊິກ: {{ point.member.firstname }} {{ point.member.surname }}</h3>
          </div>
        </div>
        <div>
          <a class="btn btn-outline-info" href="{% url 'select-book-borrow' %}">ຕໍ່ໄປ</a>

        </div>

      </article>


    </div>
  </div>
</main>
{% endblock content%}