{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Card</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

</head>

<body onload="window.print()">
    <section>
        <div class="container">

            <div class="card-wrapper">
                <div class="card">
                    <h1 class="heading">Comma Cafe Book Room</h1>
                    <img src="{{ point.member.image.url }}" alt="profile image" style="border-radius: 50%;"
                        class="rounded-circle profile-img">
                    <h1>ID: {{ point.id }}</h1>
                    <p class="job-title" style="font-family: Defago Noto Sans">{{ point.member.firstname }} {{ point.member.surname }}</p>
                    <p class="about">
                        Phonsinaun Village, Vientain Capital, Laos </br>
                        Commacoffee@163.com </br>
                        +856205819956 </br>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>